apiVersion: apps/v1
kind: Deployment
metadata:
 name: {{ .Release.Name }}-deployment
 labels:
   app: {{ .Chart.Name }}
spec:
 replicas: {{ .Values.replicaCount }}
 selector:
   matchLabels:
     app: {{ .Chart.Name }}
 template:
   metadata:
     labels:
       app: {{ .Chart.Name }}
   spec:
     containers:
       - name: nodejs-app
         image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
         imagePullPolicy: {{ .Values.image.pullPolicy }}
         ports:
           - containerPort: 3000

