 apiVersion: v1
kind: Service
metadata:
 name: {{ .Release.Name }}-service
 labels:
   app: {{ .Chart.Name }}
spec:
 type: {{ .Values.service.type }}
 ports:
   - port: {{ .Values.service.port }}
     targetPort: 3000
     protocol: TCP
 selector:
   app: {{ .Chart.Name }}
